body {
    direction: flex;
    flex-direction: column;
    align-items: center;

}

.container {
    display: flex;
    flex-direction: column;
    align-items: center;
    padding: 20px;
}

button {
    margin: 10px;
    background-color: tan;
    color: white;
    border-radius: 10px;
    font-size: large;
}

form {
    direction: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}

#signin-form {
    direction: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}